<div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">

        <img class="img img-thumbnail" alt="jasmine" style="width: 340px; height:auto;" src="../../../assets/img.png">
        <hr>
        <h3>Angular Demo Aplication</h3>
        <p>Devoloped by <a href="https://www.facebook.com/victoryyugesh.returns/">Victory yugesh returns</a></p>
        <p>&copy; 2020-21 all rights reserved</p>
    </div>
    <div class="col-md-4"></div>
</div>
</div>