<div *ngIf="!movies" class="d-flex justify-content-center ">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="row">
    <div class="card col-md-4 col-sm-12 col-xs-12" *ngFor="let movie of movies">
     <div class="alert alert-primary app-clickable"
      [routerLink]="['/movieDetails',movie.imdbID]"
      routerLinkActive="router-link-active"  >

        <div class="card-body">
            <h5 class="card-title">{{movie.Title}}</h5>
            <p>{{movie.Year}}</p>
            <img [src]="movie.Poster" [alt]="movie.Title" class="card-img-top">
        </div>
    </div>
</div>
</div>